<!DOCTYPE html>
<html>
   <%- include('header.js') %>
  <body>
    <%- include('top.js') %>
    <h1>Lista</h1>
    <table class="striped">
            <thead>
              <tr>
                  <th>Usuario</th>
                  <th>Cartera</th>
              </tr>
            </thead>
            <tbody>
              <% lista.forEach(function(elemento) { %>
                  <tr><td><%= elemento.key %></td>
                    <td><a href=cuentas/detalles/<%= elemento.publishers[0] %>><%= elemento.publishers[0] %></a></td></tr>
              <% }); %>
            </tbody>
    </table>
      <a class="btn-floating btn-large waves-effect waves-light red" href="cuentas/crear"><i class="material-icons">add</i></a>

  <%- include('footer.js') %>

  </body>
</html>
